@import "styles/variables.css";
@import "styles/book.css";

html {
  font-family: var(--font-family);
  background-color: var(--background);
  color: var(--color);
  scroll-behavior: smooth;
  scroll-padding-top: 10em;
}
body {
  margin: 0;
}
