.book {
  font-size: var(--font-size-2);
  line-height: var(--font-size-2-height);
  max-width: 35em;
  margin: 0 auto;
  padding: 5vh 5vw;

  & :first-child {
    margin-top: 0 !important;
  }
  & :last-child {
    margin-bottom: 0 !important;
  }

  & h1 {
    font-size: var(--font-size-6);
    line-height: var(--font-size-6-height);
    letter-spacing: var(--font-size-6-spacing);
    margin: 0;
  }

  & h2 {
    font-size: var(--font-size-5);
    line-height: var(--font-size-5-height);
    letter-spacing: var(--font-size-5-spacing);
    margin: 0;
  }

  & h3 {
    font-size: var(--font-size-4);
    line-height: var(--font-size-4-height);
    letter-spacing: var(--font-size-4-spacing);
    margin: 0;
  }

  & h4 {
    font-size: var(--font-size-3);
    line-height: var(--font-size-3-height);
    letter-spacing: var(--font-size-3-spacing);
  }

  & > header {
    background: white;
    min-height: 50vh;
    display: grid;
    text-align: center;
    align-content: center;
    padding: 1em;
    box-sizing: border-box;
    margin-bottom: 5vh;
  }

  & header {
    & > h1,
    & > h2,
    & > h3,
    & > h4,
    & > p {
      margin: 0;
    }
  }

  & > nav {
    font-size: var(--font-size-1);
    line-height: var(--font-size-1-height);
    letter-spacing: var(--font-size-1-spacing);

    & ul {
      padding-left: 1em;
      font-weight: bold;
    }
    & ul ul {
      font-weight: normal;
    }
    & a {
      text-decoration: none;
      display: inline-block;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  & hr {
    border: none;
    border-top: solid 1px;
    margin: 2em 0;
    width: 5em;
    height: 0;
  }

  /* Seccións principais */
  & > section,
  & > blockquote,
  & > article {
    margin: 50vh 0;

    & > header {
      position: sticky;
      background: var(--background);
      top: 0;
      padding: 1em 0;
    }

    /* Seccións secundarias */
    & section {
      margin-top: 4em;
    }
  }
}